body {
    background: #f2f2f2;
    font-family: Arial;
    text-align: center;
    padding-top: 40px;
}

.container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px #ccc;
}

input[type="file"] {
    margin: 20px 0;
}

button {
    padding: 12px 30px;
    background: #008cff;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #006fd6;
}

.preview {
    width: 300px;
    margin: 20px 0;
    border-radius: 10px;
}

.positive {
    color: red;
    font-weight: bold;
}

.negative {
    color: green;
    font-weight: bold;
}
